
                <div class="resume-intro py-3">

                    <div class="media flex-column flex-md-row align-items-center">

                        {{ if .Site.Params.profile.avatar }}
                        <img class="resume-profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded mx-auto" src="{{ .Site.BaseURL }}assets/images/{{ .Site.Params.profile.avatar }}" alt="image">
                        {{ end }}

                        <div class="media-body text-left">
                            <p class="mb-0">{{ .Site.Params.summary.text | markdownify }}</p>
                            <br>
                            <p class="mb-0"><b><i>{{ .Site.Params.note.text | markdownify }}</i></b></p>
                            <br>
                            <a class="mb-0" href="https://github.com/arshandalili/arshandalili.github.io/raw/main/CV.pdf"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                              </svg>&ensp;Curriculum Vitae</a>
                        </div><!--//media-body-->

                    </div>

                </div><!--//resume-intro-->
